<template>
  <div id="logo">
    <img
      src="https://duckduckgo.com/assets/logo_homepage.normal.v108.svg"
      alt="DuckDuckGo logo"
    />
  </div>
  <div id="search">
    <type-animation
      :text="query"
      @start="focusInput"
      @finished="redirect"
      v-slot="{ value }"
    >
      <input
        type="text"
        placeholder="Онлайн-поиск без слежки"
        ref="search"
        :value="value"
      />
    </type-animation>
    <button ref="button"><duck-duck-go-search-icon /></button>
  </div>
</template>

<script>
import DuckDuckGoSearchIcon from "../components/DuckDuckGoSearchIcon.vue";
import TypeAnimation from "../components/TypeAnimation.vue";

export default {
  name: "DuckDuckGo",
  components: { DuckDuckGoSearchIcon, TypeAnimation },
  data() {
    return {
      query: "",
    };
  },
  created() {
    const { q: query } = this.$route.query;
    if (!query) {
      this.$router.replace({ name: "Home" });
    }
    this.query = query;
  },
  methods: {
    focusInput() {
      this.$refs.search.focus();
    },
    redirect() {
      this.$refs.button.focus();

      setTimeout(() => {
        const searchParams = new URLSearchParams();
        searchParams.set("q", this.query);
        window.location.replace(`https://duckduckgo.com/?${searchParams}`);
      }, 1500);
    },
  },
};
</script>

<style>
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: rgb(247, 247, 247);
}

#logo {
  width: 200px;
  margin: 0 auto;
  margin-top: 3em;
}

#search {
  height: 46px;

  margin: 0 auto;
  margin-top: 3em;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: clamp(150px, 75%, 665px);
  padding-left: 1em;

  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px rgb(0 0 0 / 6%);
  border-radius: 4px;
  background-color: #fff;
}

#search input {
  line-height: 2.5em;
  font-size: 1em;
  width: 100%;
  border: none;
  outline: none;
}
#search input::placeholder,
#search input::-moz-placeholder,
#search input::-webkit-input-placeholder {
  color: #aaabad;
}

#search button {
  color: #999;
  background: none;
  outline: none;
  border: none;
  min-width: 26px;
  height: 100%;
}

#search button:hover,
#search button:focus {
  cursor: pointer;
  color: #fff;
  background-color: #66ad57;
}
#search button:active {
  color: #fff;
  background-color: #000;
}

#search button svg {
  fill: currentColor;
  padding: 5px 7px;
  width: inherit;
}
</style>
