<template>
  <div id="logo">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg"
      alt="Google logo"
    />
  </div>
  <div id="form">
    <div id="search">
      <google-search-icon />
      <type-animation
        :text="query"
        @start="focusInput"
        @finished="redirect"
        v-slot="{ value }"
      >
        <input type="text" ref="search" :value="value" />
      </type-animation>
    </div>
    <div id="buttons">
      <button ref="button">Поиск в Google</button>
      <button>Мне повезёт</button>
    </div>
  </div>
</template>

<script>
import GoogleSearchIcon from "../components/GoogleSearchIcon.vue";
import TypeAnimation from "../components/TypeAnimation.vue";

export default {
  name: "Google",
  components: { GoogleSearchIcon, TypeAnimation },
  data() {
    return {
      query: "",
    };
  },
  created() {
    const { q: query } = this.$route.query;
    if (!query) {
      this.$router.replace({ name: "Home" });
    }
    this.query = query;
  },
  methods: {
    focusInput() {
      this.$refs.search.focus();
    },
    redirect() {
      this.$refs.button.focus();

      setTimeout(() => {
        const searchParams = new URLSearchParams();
        searchParams.set("q", this.query);
        window.location.replace(`https://google.com/search?${searchParams}`);
      }, 1500);
    },
  },
};
</script>

<style>
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
  padding: 15px;
}

#logo img {
  height: clamp(150px, calc(100% - 560px), 290px);
}

#form {
  margin: 0 auto;
}

#search {
  height: 44px;
  width: clamp(150px, 75%, 584px);
  margin: 0 auto;

  color: #202124;
  border: 1px solid #ccc;
  border-radius: 30px;

  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
}

#search input {
  width: calc(100% - 70px);
  line-height: 44px;
  font-size: 16px;
  outline: none;
  border: none;
}
#search input:focus {
  outline: none;
}

#search svg {
  color: #9aa0a6;
  fill: currentColor;
  margin: auto 0.5em auto 0.7em;
  max-height: 25px;
}

#buttons {
  margin: 2rem auto 0;
  text-align: center;
}
#buttons button {
  margin: 0 1rem;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
#buttons button:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}
#buttons button:focus,
#buttons button:active {
  border: 1px solid #4285f4;
  outline: none;
}
</style>
