<template>
  <header>
    <h1 id="title">Позволь мне найти это за тебя</h1>
  </header>
  <main class="center">
    <input
      type="text"
      name="query"
      id="search"
      placeholder="Введите ваш запрос"
      autocomplete="off"
      v-model="query"
    />
    <div id="search-cards-wrapper">
      <search-card
        img="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Yandex_logo_2021_Russian.svg/1280px-Yandex_logo_2021_Russian.svg.png"
        title="Яндекс"
        name="yandex"
        :query="query"
      />
      <search-card
        img="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg"
        title="Google"
        name="google"
        :query="query"
      />
      <search-card
        img="https://duckduckgo.com/assets/logo_homepage.normal.v108.svg"
        title="DuckDuckGo"
        name="duckduckgo"
        :query="query"
      />
    </div>
  </main>
</template>

<script>
import SearchCard from "../components/SearchCard.vue";

export default {
  name: "Home",
  components: { SearchCard },
  data() {
    return {
      query: "",
    };
  },
};
</script>

<style>
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2.5em;
}

#title {
  margin: 4rem auto;
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

#search {
  width: clamp(300px, 50%, 600px);
  font-size: 1.2em;
  line-height: 1.5em;
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 5px 13px;
}

#search-cards-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 700px;
  margin-top: 2rem;
}
</style>
