<template>
  <div id="form">
    <div id="logo">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Yandex_logo_2021_Russian.svg/1280px-Yandex_logo_2021_Russian.svg.png"
        alt="Яндекс logo"
      />
    </div>
    <div id="search">
      <type-animation
        :text="query"
        @start="focusInput"
        @finished="redirect"
        v-slot="{ value }"
      >
        <input
          type="text"
          placeholder="Найдётся всё"
          ref="search"
          :value="value"
        />
      </type-animation>
      <button ref="button">Найти</button>
    </div>
  </div>
</template>

<script>
import TypeAnimation from "../components/TypeAnimation.vue";

export default {
  name: "Yandex",
  components: { TypeAnimation },
  data() {
    return {
      query: "",
    };
  },
  created() {
    const { q: query } = this.$route.query;
    if (!query) {
      this.$router.replace({ name: "Home" });
    }
    this.query = query;
  },
  methods: {
    focusInput() {
      this.$refs.search.focus();
    },
    redirect() {
      this.$refs.button.focus();

      setTimeout(() => {
        const searchParams = new URLSearchParams();
        searchParams.set("text", this.query);
        window.location.replace(`https://yandex.ru/search/?${searchParams}`);
      }, 1500);
    },
  },
};
</script>

<style>
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

#form {
  margin: 5em auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#logo {
  max-width: 140px;
  margin-right: 1em;
}

#logo img {
  max-width: inherit;
}

#search {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: clamp(200px, 75%, 750px);
  border: 3px solid #fc0;
  border-radius: 10px;
}

#search input {
  margin: 3px;
  line-height: 40px;
  font-size: 1em;
  outline: none;
  border: none;
  border-radius: 0 0.625em 0 0;
  width: 100%;
}
#search input:focus {
  outline: none;
}

#search button {
  background: #fc0;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  line-height: 3em;
  width: 5em;
  border: none;
}
#search button:hover {
  background: #f5c400;
  cursor: pointer;
}
#search button:active,
#search button:focus {
  background: #f5bc40;
}
</style>
