<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    width="32"
    height="32"
    viewBox="0 0 32 32"
  >
    <path
      d="M31.401 27.591l-5.835-5.82c3.547-5.257 2.992-12.448-1.673-17.097-5.301-5.283-13.899-5.283-19.206 0-5.301 5.283-5.301 13.847 0 19.132 4.629 4.612 11.765 5.193 17.035 1.759 0.003 0.003 0.003 0.006 0.006 0.011l5.846 5.828c0.705 0.703 1.851 0.703 2.551 0l1.274-1.269c0.707-0.706 0.707-1.844 0.001-2.543zM6.704 21.793c-4.191-4.174-4.191-10.942 0-15.117 4.188-4.174 10.98-4.174 15.169 0 4.192 4.176 4.192 10.943 0 15.117-4.188 4.174-10.982 4.174-15.169 0z"
    />
  </svg>
</template>
