<template>
  <div class="search-card" @click="handleClick">
    <img :src="img" :alt="title" />
    <span>{{ title }}</span>
  </div>
</template>

<script>
import { copy } from "../clipboard";

export default {
  name: "SearchCard",
  methods: {
    handleClick() {
      if (!this.query) {
        alert("Введите свой запрос");
        return;
      }

      const searchParams = new URLSearchParams();
      searchParams.set("q", this.query);
      const link = `${window.location.href}${this.name}?${searchParams}`;
      try {
        copy(link);
        alert("Ссылка была успешно скопирована в буфер обмена");
      } catch {
        alert("Что-то пошло не так, поробуйте скопировать ссылку ещё раз");
      }
    },
  },
  props: {
    query: {
      type: String,
      required: true,
    },
    img: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
  },
};
</script>

<style>
.search-card {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  max-width: 200px;
  min-width: 150px;
  max-height: 150px;
  min-height: 150px;
  padding: 10px;

  border: 1px solid #ccc;
  border-radius: 2em;

  transition: background 0.05s ease-in;

  user-select: none;
  -webkit-user-drag: none;

  margin: 5px;
}

.search-card:hover {
  cursor: pointer;
  background-color: #eee;
}

.search-card:active {
  background-color: #ccc;
}

.search-card img {
  max-width: inherit;
  max-height: inherit;
  padding: inherit;
}

.search-card span {
  font-size: 0.8em;
}
</style>
