<template>
  <slot :value="currentValue"></slot>
</template>

<script>
export default {
  name: "TypeAnimation",
  props: {
    text: {
      type: String,
      default: "",
    },
    duration: {
      type: Number,
      default: 2000,
    },
  },
  emits: {
    start: null,
    finished: null,
  },
  data() {
    return {
      length: 0,

      timestamp: null,
      startTimestamp: null,

      animationFrame: null,
    };
  },
  computed: {
    currentValue() {
      return this.text.slice(0, this.length);
    },
    delay() {
      return Math.floor(this.duration / this.text.length);
    },
  },
  methods: {
    play() {
      if (!this.text) return;
      this.$emit("start");
      this.type();
    },
    type() {
      if (this.length === this.text.length) {
        this.$emit("finished");
        return;
      }

      setTimeout(() => {
        this.length += 1;
        this.type();
      }, this.delay);
    },
  },
  mounted() {
    this.play();
  },
  watch: {
    text(oldVal, newVal) {
      if (oldVal !== newVal) {
        this.length = 0;
        this.play();
      }
    },
  },
};
</script>
